body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    color: #333;
}


.hero {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.hero span {
    color: #fcbf49;
}

.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 15px;
}


.section {
    background: white;
    margin: 30px auto;
    padding: 30px;
    width: 85%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.section h2 {
    margin-bottom: 15px;
    color: #203a43;
}


.skills {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.skills li {
    background-color: #e63946;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
}


.project {
    margin-bottom: 15px;
}


.contact p {
    margin: 6px 0;
}


footer {
    background-color: #203a43;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
